@model List<Tag>

<div class="card mb-4 border-0">
    <div class="card-header bg-transparent border-0">
        <h5 class="card-title mb-0 fw-bold">Discover topics</h5>
    </div>
    <div class="card-body px-0">
        <div class="d-flex flex-wrap gap-2">
            @foreach (var tag in Model)
            {
                <li class="list-inline-item">
                    <a href="/posts/tag/@tag.Url" class="badge text-decoration-none p-2 rounded-pill" 
                       style="background-color: var(--gold-lightest); color: var(--gold-darker);">@tag.Text</a>
                </li>
            }
        </div>
    </div>
</div>